<div class="col-4 mb-4">
	<div class="card h-100">
		<div class="card-body">
			<h5 class="card-title" style="height:60px">{{ title }}</h5>
			<p class="card-text">{{ content }}</p>
			<div>
				<a href="{{ buttonLink }}" class="btn btn-primary" style="display: inline;">{{ buttonLabel }}</a>
				{% if userIsAdmin() %}
					<form action="{{ generate('deleteArticle') }}" method="POST" style="display: inline;">
						<input type="hidden" name="uuid" value="{{ uuid }}">
						<input type="hidden" name="csrf" value="{{ csrf }}">
						<button type="submit" class="btn btn-danger">{{ buttonLabelDelete }}</button>
					</form>
				{% endif %}
			</div>
		</div>
	</div>
</div>
